@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    background-image: url(https://github.com/bridgittenerja/ActivityImages/blob/main/newBG.jpg?raw=true);
    background-size:cover;
    font-family: 'Fira Sans', sans-serif;
}
header {
    text-align:center;
    /* color:rgb(117, 23, 23); */
    /* background-color: rgba(245, 243, 243, 0.619); */
}

.teaMenu {
    background-color:rgb(184, 134, 11, 0.45);
    text-align:left;
    width:80%;
    margin:auto;
}

.teaFlavor {
    display:inline-block;
    text-align:left;
    width:49%;
    background-color: white;
}
.teaPrice {
    display:inline-block;
    text-align:right;
    width:49%;
    background-color: darkorange;
}